.form-div{
	margin: 50px auto 50px;
	padding: 25px 10px 25px 10px;
	border: 1px solid;
	border-radius: 5px;
	/*font-size: 1.1em;*/
}

/*header bar*/
.site-header {
	/*background-image: url("../images/vanguard_logo.jpg");*/
	background-color: #F0F8FF;
}

.site-header img{
	width: 60%;
}

img.center {
	display: block;
	margin: 0 auto;
}

/*nav bar*/
.site-nav {
    background-color: blue;
    /*background-color: var(--nav-color); */
    /* background-color: coral; */
    color: white;
    /*color:var(--header-font-color);*/
    padding: 5px;
    font-size: 1.3em;
}

.site-nav ul{
	padding: 0;
	margin: auto;
}

.site-nav li{
	display:inline;
	padding-right: 20px;
	font-size: 1.3em;
}

.site-nav a{
	text-decoration:none;
	color: white;
}

body {
	background-color: #F0F8FF;
}

/* For radio buttons when searching for cards */
/*.block {
      display: block;
}*/

/* For card info boxes*/
/*.row{
	display: flex;
	width: 100%;
}*/

.cardinfo {
  border-radius: 15px;
  border: 2px solid Navy;
  padding: 20px;
	
  /*float: left;*/
  display: inline-block;
  width: 24%;
  padding: 5px;
  margin: 0.50%;
  
  overflow-wrap: break-word; /*handling long names and descriptions*/
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (max-width: 800px) {
  .cardinfo {
	/*width: 50%;*/
    width: 49%;
	margin: 0.50%;
  }
}

.deckinfo {
  /*flex: 1;*/ /* additionally, equal width */
  
  padding: 1em;
  border: 2px solid Navy;
  border-radius: 15px;

  width: 24%;
  margin: 0.50%;
  display: inline-block;
  /*display: table-cell;*/

  overflow-wrap: break-word; /*handling long names and descriptions*/
}

.deckinfo-text {
	background-image: url("../images/vanguard_glyph.png");
	background-size: cover;
}

.deckinfo button{
	display: inline-block;
	text-align: center;
}

@media screen and (max-width: 800px) {
  .deckinfo {
    width: 49%;
	margin: 0.50%;
  }
}

.rating-btn{
	vertical-align: baseline;
}

.nodisplay {
	display: none;
}

/*---------Modal for increased size image----------*/
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Image */
.modal-content {
	margin: auto;
	display: block;
	/*width: 80%;*/
	width: 100%;
	max-width: 700px;
}

/* Close the Modal */
.close {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
}

/*Zoom for modal*/
.modal-content{
	animation-name: zoom;
	animation-duration: 0.6s;
}

@keyframes zoom {
	from {
		transform: scale(0)
	}

	to {
		transform: scale(1)
	}
}


.close:hover,
.close:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}

/*--------------------Side menu-----------------------*/
.sidemenu {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

    /* The navigation menu links */
    .sidemenu a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 1.3em;
        /*color: #818181;*/
		color: #f1f1f1;
        display: block;
        transition: 0.3s;
    }

    /* When you mouse over the navigation links, change their color */
    /*.sidemenu a:hover {
        color: #f1f1f1;
    }*/

    /* Position and style the close button (top right corner) */
    .sidemenu .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 1.7em;
        margin-left: 50px;
    }

    .sidemenu #logout {
        color: blue;
    }

    .sidemenu #logout:hover
    {
        color: lightcyan;
    }

    #sideBarButton:hover{
        color: darkblue;
    }

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidemenu {
        padding-top: 15px;
    }

        .sidemenu a {
            font-size: 1.3em;
        }
}

/*--------Profile picture--------*/
.profile-picture-container {
	text-align: center;
}

.profile-picture-options {
	display: inline-block;
}

.profile-picture-options * {
	padding: 5px;
}

.avatar {
	vertical-align: middle;
	width: 100px;
	height: 100px;
	border-radius: 15%;
}

.avatar-small {
	vertical-align: middle;
	width: 20px;
	height: 20px;
	border-radius: 15%;
}